/* Write your CSS here */
.comments-app {
  min-height: 100vh;
  background-color: #dee0e3;
  display: flex;
  justify-content: center;
  font-family: Roboto;
}

.comments-container {
  width: 90%;
  max-width: 900px;
  background-color: #ffffff;
  padding: 30px;
  margin-top: 40px;
  border-radius: 12px;
}

.heading {
  color: #1e293b;
  font-size: 32px;
  margin-bottom: 20px;
}

.top-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.comment-form {
  display: flex;
  flex-direction: column;
  width: 55%;
}

.form-description {
  color: #475569;
  margin-bottom: 10px;
}

.name-input,
.comment-input {
  border: 1px solid #cbd2d9;
  border-radius: 6px;
  padding: 10px;
  margin-bottom: 12px;
  outline: none;
  font-size: 14px;
}

.comment-input {
  resize: none;
  height: 90px;
}

.add-button {
  background-color: #0284c7;
  color: #ffffff;
  border: none;
  border-radius: 6px;
  padding: 8px 14px;
  cursor: pointer;
  width: fit-content;
}

.comments-image {
  width: 260px;
}

.separator {
  margin: 25px 0;
}

.comments-count {
  font-size: 16px;
  color: #475569;
}

.count {
  background-color: #0284c7;
  color: #ffffff;
  padding: 4px 10px;
  border-radius: 6px;
  margin-right: 6px;
}

.comments-list {
  list-style-type: none;
  padding-left: 0;
  margin-top: 20px;
}
